{% extends '@VinorcolaImport/layout.html.twig' %}



{% block import_content %}
    <p>{{ 'message'|tr }}</p>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <button class="btn btn-primary">{{ 'submit'|tr }}</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
